.game-board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vw 15vw 15vw;
    column-gap: 1vw;
    row-gap: 1vw;
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 15rem;
}

.grid-box{
    background: linear-gradient(#add8e6,#8000809e,#ffc0cb);

border-radius: 15%;
}

body{
    background-color: #6c99bcec;
}

.section{
    position:relative;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
}